.div1{
    width: 650px;
    height: 500px;
 background-image: url("https://i.pinimg.com/564x/c2/6b/b0/c26bb08bb4631f921e18d5659dacc3bb.jpg")   ;
background-size: cover;
  border: 2px solid rgb(13, 255, 4);
  border-radius: 10px;  
  padding: 20px;
}
.div2{
    width: 350px;
    height: 220px;
    background-color: white;
    border: 1px solid greenyellow;
    padding: 10px;
    margin-bottom: 20px;
}
.div3{
    width: 220px;
    height: 110px;
    background-color:black;
    border: 1px solid greenyellow;
    padding: 10px;
}